name: Prepare and Deploy Packages

on:
  push:
    paths:
      - 'scripts/**'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    # we need to compile mex on an older system so that the binaries are compatible with more matlab installations
    # runs-on: ubuntu-latest
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          cache: true
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run build_chebfun.py
        run: python scripts/build_chebfun.py

      - name: Run build_export_fig.py
        run: python scripts/build_export_fig.py

      - name: Run build_surfacefun.py
        run: python scripts/build_surfacefun.py

      - name: Run build_flam.py
        run: python scripts/build_flam.py

      - name: Clone kdtree repository
        run: git clone https://github.com/taiya/kdtree.git

      - name: Copy custom compilation script
        run: cp scripts/kdtree_compile_cpp14.m kdtree/toolbox/

      - name: Compile kdtree MEX files
        uses: matlab-actions/run-command@v2
        with:
          command: cd('kdtree/toolbox'); kdtree_compile_cpp14;

      - name: Run build_kdtree.py
        run: python scripts/build_kdtree.py

      - name: Create deploy directory structure
        run: |
          mkdir -p deploy/packages
          mv chebfun-latest-any-none-any.mhl deploy/packages/
          mv export_fig-3.54-any-none-any.mhl deploy/packages/
          mv surfacefun-latest-any-none-any.mhl deploy/packages/
          mv flam-latest-any-none-any.mhl deploy/packages/
          mv kdtree-latest-any-none-any.mhl deploy/packages/

      - name: Generate manifest
        run: python scripts/generate_manifest.py

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: deploy

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
